body{
    background-color: black;
    color: white;
    font-size: 70px;
}

p.GroupA {
    margin-bottom: 10px; /* Встановіть бажаний великий відступ */
}

p.GroupB {
    margin-top: 10px; /* Встановіть бажаний великий відступ */
}

p.GroupC {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
}

h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
    margin-bottom: 60px;
}

li.form-container {
    position: relative;
    margin-bottom: 10px;
    padding-left: 40px; /* Adjust according to your needs */
}


li.form-container form {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -16px;
}

button {
    padding: 10px 20px;
    border: red;
    border-radius: 20px;
    background-color: darkred;
    color: white;
    cursor: pointer;
}