<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Author</title>
</head>
<body>
    <form action="/" method="get"><button type="submit" class="GroupMain">Main menu</button></form>
    <h1>Create an author</h1>
    <p class="GroupC">For create new author you need wright author ditails.</p>
    <p class="GroupB">When you feel all gups press button to complete adding</p>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/author/add/result/" method="post">
        <label for="name">Write author name:</label>
        <input type="text" id="name" name="name" required>
        <label for="second_name">Write author second name:</label>
        <input type="text" id="second_name" name="second_name" required>
        <label for="info">Write smth about author:</label>
        <input type="text" id="info" name="info" required>
        <button type="submit">Press me</button>
    </form>
</body>
</html>
