<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a book</title>
</head>
<body>
    <h1>Add new book</h1>
    <p class="GroupC">For add new book you need feel gups.</p>
    <p class="GroupB">After it press on button for complete this</p>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/book/add/result/" method="post">
        <label for="author_id">Author ID:</label>
        <input type="text" id="author_id" name="author_id" required>
        <label for="title">Book title:</label>
        <input type="text" id="title" name="title" required>
        <label for="pages">Pages:</label>
        <input type="text" id="pages" name="pages" required>
        <label for="info">Write smth about book:</label>
        <input type="text" id="info" name="info" required>
        <button type="submit">Press me</button>
    </form>
</body>
</html>