<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorlist</title>
</head>
<body>
    <h1>This is all authors that we have on this small web app</h1>
    <p class="GroupB">You can add some authors or author from main menu or by pressing the button</p>
    <script>

    </script>
    {% for author in authors %}
        <p> AuthorID: {{author.id}} Name: "{{author.name}}", Second name: "{{author.second_name}}"</p>
    {% endfor %}
</body>
</html>