<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorlist</title>
</head>
<body>
    <form action="/" method="get"><button type="submit" class="GroupMain">Main menu</button></form>
    <form action="/author/add/ask/" method="get"><button type="submit" class="GroupMain">Додати автора</button></form>
    <form action="/author/get/ask/" method="get"><button type="submit" class="GroupMain">Більше про автора</button></form>
    <h1>List of authors</h1>
    <p class="GroupC">This is all authors that we have on this small web app</p>
    <p class="GroupB">You can add some authors or author from main menu or by pressing the button</p>
    <script>

    </script>
    {% for author in authors %}
        <p> AuthorID: {{author.id}} Name: "{{author.name}}", Second name: "{{author.second_name}}"</p>
    {% endfor %}
</body>
</html>