<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is all books that we have on this small web app</h1>
    <p class="GroupB">You can add some books or book from main menu or by pressing the button</p>
    {% for book in books %}
        <p class="GroupA"><!-- {{book.id}}, --> Title: "{{book.title}}", Pages: {{book.pages}}</p>
        <p class="GroupB">Author name: {{book.author.name}}</p>
    {% endfor %}
</body>
</html>