<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>There is your author</h1>
    <p>You can add or watch list with all authors from main menu</p>
    <p class="GroupA">Author name: "{{author.name}}"</p>
    <p class="GroupC">Author second name: "{{author.second_name}}"</p>
    <p class="GroupC"> Author info:</p>
    <p class="GroupB"> {{author.info}}</p>
</body>
</html>
