<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <form action="/" method="get"><button type="submit" class="GroupMain">Main menu</button></form>
    <h1>Search for a book</h1>
    <p class="GroupC">Write inforamtion(ID) about your book for having title, pages, etc.</p>
    <p class="GroupB">After it press on a buthon</p>

    <form action="/book/get/result/" method="post">
        <label for="book_id">Book ID:</label>
        <input type="text" id="book_id" name="book_id" required>
        <button type="submit">Press me</button>
    </form>
</body>
</html>