<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <h1>Натисни кнопку</h1>
    <form action="/book/get/result/" method="post">
        <label for="book_id">Author ID:</label>
        <input type="text" id="book_id" name="book_id" required>
        <button type="submit">Press me</button>
    </form>
</body>
</html>