<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <form action="/" method="get"><button type="submit" class="GroupMain">Main menu</button></form>
    <h1>Search for an author</h1>
    <p class="GroupC">Write inforamtion(ID) about your author for having name, second name, etc.</p>
    <p class="GroupB">After it press on a buthon</p>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/author/get/result/" method="post">
        <label for="author_id">Write author ID:</label>
        <input type="text" id="author_id" name="author_id" required>
        <button type="submit">Press me</button>
    </form>
</body>
</html>
