<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <form action="/" method="get"><button type="submit" class="GroupMain">Main menu</button></form>
    <h1>Login</h1>
    <p class="GroupC">Guy it easy you desn't need for discribe what you need to do</p>
    <p class="GroupB">But doesn' t forget press on the button</p>
    <form action="/token" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>