<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <h1>Book managment</h1>
    <h2>We can</h2>
    <ul>
        <li>Add an author
            <form action="/author/add/" method="post">
                <button type="submit">Add an author</button>
            </form>
        </li>
        <li>Search for an author
            <form action="/author/get" method="post">
                <button type="submit">Search for an author</button>
            </form>
        </li>
        <li>Authorlist
            <form action="/authorlist/" method="post">
                <button type="submit">Authorlist</button>
            </form>
        </li>
        <li>Add a book
            <form action="/{author_id}/get/" method="post">
                <button type="submit">Add a book</button>
            </form>
        </li>
        <li>Get a book
            <form action="/book/get/" method="post">
                <button type="submit">Get a book</button>
            </form>
        </li>
        <li>Booklist
            <form action="/booklist/" method="post">
                <button type="submit">Booklist</button>
            </form>
        </li>
    </ul>
</body>
</html>