<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <h1>Book managment</h1>
    <h2>We can</h2>
    <li class="form-container">Authorized
        <form action="/login/" method="post">
            <button type="submit">Authorize</button>
        </form>
    </li>
    <li class="form-container">Add an author
        <form action="/author/add/ask/" method="post">
            <button type="submit">Add an author</button>
        </form>
    </li>
    <li class="form-container">Search for an author
        <form action="/author/get" method="post">
            <button type="submit">Search for an author</button>
        </form>
    </li>
    <li class="form-container">Authorlist
        <form action="/author/list/" method="post">
            <button type="submit">Authorlist</button>
        </form>
    </li>
    <li class="form-container">Add a book
        <form action="/book/add/ask" method="post">
            <button type="submit">Add a book</button>
        </form>
    </li>
    <li class="form-container">Get a book
        <form action="/book/get/" method="post">
            <button type="submit">Get a book</button>
        </form>
    </li>
    <li class="form-container">Booklist
        <form action="/book/list/" method="post">
            <button type="submit">Booklist</button>
        </form>
    </li>
</body>
</html>
